<div class="container">
	<div class="text-center">
		<h1 class="display-4">Checkout</h1>
	</div>
	<div>
		<p class="lead">
			Thank you for purchasing, you have ordered a total of <b>{{orders}}</b> books. Please proceed to checkout
		</p>
	</div>
	<div class="text-center">
		<button class="btn btn-success btn-lg" [disabled]="orders <= 0" (click)="proceedWithPayment()">Pay Pay Pay</button>
	</div>
	<div class="text-right">
		<button class="btn btn-primary" routerLink="/showcase">Showcase</button>
	</div>
</div>